/* legend.css */

#legend-container {
    position: relative;
}

#legend {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.legend-header {
    font-weight: normal;
    display: flex;
    align-items: left;
    margin-bottom: 4px;
    position: relative;
}

.colored-box-header {
    width: 10px;
    height: 13px;
    margin-right: auto;
    padding: 5px 10px;
    border: 2px solid black;
}

.legend-item {
    font-weight: normal;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    position: relative;
}

.colored-box {
    width: 10px;
    height: 13px;
    margin-right: auto;
    padding: 5px 10px;
    border: 2px solid black;
}

.text-box {
    font-size: small;
    font-weight: normal;
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px 22px;
    flex: 1;
    margin-left: auto;
    border: 2px solid black;
}

.text-box-header {
    font-size: small;
    font-weight: bold;
    text-align: center;
    color: black;
    padding: 5px 22px;
    flex: 1;
    margin-left: auto;
}