#viewControllerHeader {
	float: left;
	font-size: 12px;
	line-height: 20px;
	background-color: #1faeff;
	width: 100%;
	padding: 2px;
	box-sizing: border-box;
}

.metricDiv {
	clear: left;
	float: left;
	width: 48%;
	height: 33%;
	border: 1px solid lightgray;
	display:flex;
	align-items: center;
	font-size: 12px;
}

.mappingDiv {
	overflow: hidden;
	height: 33%;
	border: 1px solid lightgray;
	display:flex;
	align-items: center;
	font-size: 12px;
}

#downloadViewConfigButton {
	float: right;
	margin-left: 5px;
}

#executeButton {
	float: right;
	margin-left: 5px;
	margin-right: 10px;
}

#resetButton {
	float: right;
	margin-left: 5px;
}

#addLayerButton {
	float: right;
	margin-left: 5px;
}

#headerTextNode {
	float: left;
	color: white;
	padding: 3px 0;
	margin-left: 5px;
}

.deleteButton {
	float: right;
	border: 1px solid lightgray;
}

.viewDropDown {
	float: right;
}

.metricNumParameter,
.metricDateParameter {
	text-align: right;
}

.mappingParameter {
	text-align: right;
}

.textLabel {
	font-size: 12px;
	margin: 1px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 4px 0;
}
